<header>
  <div class="header">{{ page.header }}</div>
</header>
<main>
  <div class="content">{{ page.content }}</div>
  <p>Custom theme is working!</p>
</main>
<footer>
  <div class="footer">{{ page.footer }}</div>
</footer>
